.setting_type{
    color: #626264;
font-feature-settings: 'clig' off, 'liga' off;

/* Text/Body/Normal/Regular */
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.setting_type__col__title{
    color:  #182135;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Text/H4/Bold */
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}
.setting_col_line{
    width: 1072px;
height: 1px;
flex-shrink: 0;
background: rgba(163, 163, 164, 0.16);
}
.img_show{
    max-width: 64px !important;
    width: 64px;
height: 64px;
flex-shrink: 0;
border-radius: 50%;
background: gray;
}
.img_btn {
    width: 116px;
height: 40px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(80, 62, 157, 1);
color: rgba(247, 250, 252, 1);
}
.img_btn2{
    width: 116px;
height: 40px;
flex-shrink: 0;
border-radius: 8px;
background: #F7F7F7;
}

.input_line{
    width: 100%;
height: 1px;
flex-shrink: 0;
margin-block: 10px;
background:  rgba(163, 163, 164, 0.16);
}
.title_modal{
    color: #182135;
font-feature-settings: 'clig' off, 'liga' off;

/* Text/H2/Bold */
font-family: "Open Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
}
.title_img{
    color: var(--colors-text-dark-626264100, #626264);
font-feature-settings: 'clig' off, 'liga' off;

/* Text/Body/Normal/Regular */
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-top: 32px;
margin-bottom: 25px;
}
.myModal{
    width: 400px;
height: 685px;
flex-shrink: 0;
border-radius: 16px;
background: var(--colors-light-ffffff-100, #FFF);
}
.title_field{
    color: var(--colors-text-dark-626264100, #626264);
font-feature-settings: 'clig' off, 'liga' off;

/* Text/Body/Normal/Regular */
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-top: 60px;
margin-bottom: 30px;
}
.update_btn {
    width: 100%;
height: 64px;
flex-shrink: 0;
border-radius: 12px;
background: var(--colors-primary-503-e-9-d-100, #503E9D);
color: var(--colors-text-light-f-7-fafc-100, #F7FAFC);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

/* Text/H3/Bold */
font-family: "Open Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 160% */
}

.modal-dimensions
{
    height: 454px;
    width: 400px;
}