.sign-in-btn
{
    background-color:rgba(80, 62, 157, 0.1);
    width: 576px;
    height: 64px;
    border: none;
    border-radius: 10px;

}

.last-div-signin
{
    width: 576px;
    height: 230px;
    
}

.modal-dialog 
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .modal-footer 
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;
   
    
  }

  .modal-mail
  {
    height: 64px;
    width: 64px;
    background-color: #503E9D;
    border-radius: 10px;
  }

  .white-mail-size
  {
    width: 24px;
    height: 30px;
  }

  .got-it-btn
  {
    background-color: #503E9D;
    color: white;
    border: none;
    height: 64px;
    width: 160px;
    border-radius: 20px;
  }

  .send-btn
  {
    background-color: #F7F7F7;
    height: 64px;
    width: 160px;
    border-radius: 20px;
    border: none;
  }

  .footer-width
  {
    width:350px;
  }