.signup-left-container
{
    height: 1024px;
    width: 576px;
    background-image: url(../pics/soup.png) ;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    
}



@media only screen and (max-width: 768px) 
{
    .left-responsive
    {
        background-repeat: no-repeat;
        background-size:auto;
        border-radius: 0px 0px 24px 24px;
        /* width: 768px; */
        height: 388px;
        width: auto;
    }
    
}


.burger-size
{
    /* width: 80px;
    height: 64px; */
}

.rightmost-scale
{
    width: 864px;
    min-height: 1000px;
}

.grey-txt
{
    color: #626264;
    font-size: 20px;
}

.rightmost-container
{
    
    height: 604px;
    
}

.sign-up-icons
{
    height: 64px;
    width: 64px;
    background-color: rgba(80, 62, 157, 0.1);
    border-radius:10px;
}

.p-container
{
    width: 488px;
    height: 70px;
}

.right-width
{
    width: 576px;
}

.line
{
    border-bottom: solid 2px;
    color: rgba(163, 163, 164, 0.16);
}

.create-acc-btn
{
    background-color: #503E9D;
    width: 576px;
    height: 64px;
    border: none;
    border-radius: 10px;
}

.last-div
{
    width: 576px;
    height: 200px;
}

.last-div-height
{
    height: 212px;
}



.res_div{
    position: relative;
    width: 100%;
}
.res_img{
    border-radius: 10px;
    width: 100%;
}
.main_pic{
    position: absolute;
    top: 150px;
    
}
@media only screen and (max-width: 768px) 
{
    .left-responsive
    {
        background-repeat: no-repeat;
        background-size:auto;
        border-radius: 0px 0px 24px 24px;
        /* width: 768px; */
        height: 388px;
        width: auto;
    }
    .rightmost-container{
        width: 100%;
    }   
    .rightmost-scale {
        width: 100%;
    }
    .p-container {
        width: 100%;
    }
    .last-div {
        width: 100%;
    }
    .right-width{
        width: 100%;
    }
}