{% extends 'base_html.html' %}
{% load static %}

{% block title %}Favorate{% endblock %}
{% block css_js_ref %}
    <link rel="stylesheet" href="{% static 'css/css-home-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/explor.css' %}">
{% endblock %}

{% block left_panel %}
{% endblock %}

{% block main %}
        <div  style="margin-top: 48px;">
            <div  class="d-flex flex-row justify-content-between w-25">
                <button id="rest" class="choice_resturant"><img id="rest_img" src="../../static/pics/super.png"> Restaurants ({{ user.fav_rest.all|length }})</button>
                <button id="dish" class="choice_dish"><img id="dish_img" src="../../static/pics/whiteSilverware.png">Dishes ({{ user.fav_food.all|length }})</button>
            </div>
            <div  id="foods">
                <div  class="container">
                    <div class="row">
                        {% for food in user.fav_food.all %}
                            <div class="col-4">
                            <img src="{{ food.food_pic.url }}">
                            <div class="d-flex flex-row align-items-center justify-content-between ms-3">
                                <div class="d-flex flex-row grid-img"><img src="../../static/pics/Star.png"><p class="bx-font">
                                    {{ food.rating }} ({{ food.num_rating }})</p></div>
                                <div class="d-flex flex-row grid-img margin-grid"><img  src="../../static/pics/Silverware.png"><p class="bx-font ms-1">
                                    {{ food.category }}</p></div>
                                <div class="d-flex flex-row grid-img margin-grid"><img src="../../static/pics/Deliver.png"><p class="bx-font ms-1">15 - 25 min</p></div>
                                </div>
                            <div  class="d-flex flex-row align-items-center justify-content-between mt-3"><p style="font-size: 16px; font-weight: 700;">{{ food.name }}</p><p class="free-delivery text-center pt-1 ">Free delivery</p></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="resturant_list" class="offDive">
                <div  style="margin-top: 48px;">
                    <div class="container">
                        <div class="row mt-4">
                            {% for rest in user.fav_rest.all %}
                                <div class="d-flex flex-row col-4 features-bx">
                                    <div class="d-flex burger-bg"><a href="{% url 'restaurant_detail_url' rest.id %}"><img class="burgerking" src="{{ rest.restaurant_icon.url }}"></a></div>
                                <div class="d-flex flex-column justify-content-between">
                                    <h5 class="ms-3">{{ rest.name }}</h5>
                                    <div class="d-flex flex-row align-items-center justify-content-between ms-3">
                                    <div class="d-flex flex-row grid-img"><img src="../../static/pics/Star.png"><p class="bx-font">{{ rest.rating }} ({{ rest.num_rating }})</p></div>
                                    <div class="d-flex flex-row grid-img margin-grid"><img src="../../static/pics/Silverware.png"><p class="bx-font ms-1">
                                        {{ rest.categ }}</p></div>
                                    <div class="d-flex flex-row grid-img margin-grid"><img src="../../static/pics/Money.png"><p class="bx-font ms-1">{{ rest.get_restaurant_class_display }}</p></div>
                                    </div>
                                    <div class="d-flex flex-row grid-img ms-3 "><div class="free-delivery" >
                                        {% if rest.free_delivery %}
                                            <p class="bx-font ">Free delivery</p>
                                        {% else %}
                                            <p class="bx-font ">$5.0</p>
                                        {% endif %}</div>
                                        <div class=" d-flex flex-row ms-3"><img src="../../static/pics/Location copy 2.png"><p class="bx-font ms-3">4.3 km</p></div></div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block bottom_of_body %}
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/explor.js' %}"></script>
{% endblock %}
