{% extends 'base_html.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block css_js_ref %}
    <link rel="stylesheet" href="{% static 'css/css-home-2.css' %}">
{% endblock %}

{% block left_panel %}
{% endblock %}

{% block main %}
        <div class="d-flex flex-column">
            <div class="d-flex flex-column"  style="margin-top: 48px;">
                <div class="d-flex flex-row justify-content-between">
                    <h5>Explore categories</h5>
                    <button class="see-all-btn">see all <img src="../../static/pics/arrow copy.png"></button>
                </div>
                <div class="d-flex flex-row justify-content-between" style="overflow-x: hidden;">
                    <div class="d-flex flex-column justify-content-center align-items-center categories">
                        <img class="cat-pics" src="../../static/pics/fire copy.png">
                        <div>
                            <b><p class="text-center">Popular</p></b>
                            <p>286+ options</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center categories">
                        <img class="cat-pics" src="../../static/pics/motor copy.png">
                        <div>
                            <b><p class="text-center">Fast delivery</p></b>
                            <p>1,843+ options</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center categories">
                        <img class="cat-pics" src="../../static/pics/highclass.png">
                        <div>
                            <b><p class="text-center">High class</p></b>
                            <p>25+ options</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center categories">
                        <img class="cat-pics" src="../../static/pics/dine.png">
                        <div>
                            <b><p class="text-center">Dine in</p></b>
                            <p>182+ options</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center categories">
                        <img class="cat-pics" src="../../static/pics/delivery.png">
                        <div>
                            <b><p class="text-center">Pick up</p></b>
                            <p>3,548+ options</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center categories">
                        <img class="cat-pics" src="../../static/pics/24px-icon-inside.png">
                        <div class="">
                            <b><p class="text-center">Nearest</p></b>
                            <p>44+ options</p>
                        </div>
                    </div>
                </div>
            </div>
            <div  style="margin-top: 48px;">
                <div class="d-flex flex-row justify-content-between">
                    <h5>Featured restaurants</h5>
                    <button class="see-all-btn">see all <img src="../../static/pics/arrow copy.png"></button>
                </div>
                <div class="container">
                    <div class="row mt-4">
                        {% for rest in rests %}
                            <div class="d-flex flex-row col-4 features-bx">
                                <div class="d-flex burger-bg"><a href="{% url 'restaurant_detail_url' rest.id %}"><img class="burgerking" src="{{ rest.restaurant_icon.url }}"></a></div>
                                <div class="d-flex flex-column justify-content-between">
                                    <h5 class="ms-3">{{ rest.name }}</h5>
                                    <div class="d-flex flex-row align-items-center justify-content-between ms-3">
                                    <div class="d-flex flex-row grid-img"><img src="../../static/pics/Star.png"><p class="bx-font">
                                        {{ rest.rating }} ({{ rest.num_rating }})</p></div>
                                    <div class="d-flex flex-row grid-img margin-grid"><img src="../../static/pics/Silverware.png"><p class="bx-font ms-1">{{ rest.categ }}</p></div>
                                    <div class="d-flex flex-row grid-img margin-grid"><img src="../../static/pics/Money.png"><p class="bx-font ms-1">{{ rest.get_restaurant_class_display }}</p></div>
                                    </div>
                                    <div class="d-flex flex-row grid-img ms-3 "><div class="free-delivery" >
                                        {% if rest.free_delivery %}
                                            <p class="bx-font ">Free delivery</p>
                                        {% else %}
                                            <p class="bx-font ">$5.0</p>
                                        {% endif %}
                                        </div><div class=" d-flex flex-row ms-3"><img src="../../static/pics/Location copy 2.png"><p class="bx-font ms-3">4.3 km</p></div></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div  style="margin-top: 48px;">
            <div  class="d-flex flex-row justify-content-between">
                <h5>Foods</h5>
                <button  class="see-all-btn">see all <img src="../../static/pics/arrow copy.png"></button>
            </div>
            <div class="container">
                <div class="row">
                    {% for food in foods %}
                    <div class="col-4">
                        <a href="{% url 'order_add_one_item_url' food.id %}"><img src="{{ food.food_pic.url }}"></a>
                        <div  class="d-flex flex-row align-items-center justify-content-between mt-3"><p style="font-size: 16px; font-weight: 700;">{{ food.name }}</p><p class="free-delivery text-center pt-1 ">Free delivery</p></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}

{% block bottom_of_body %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
