{% extends 'base_html.html' %}
{% load static %}

{% block title %}Orders{% endblock %}
{% block css_js_ref %}
    <link rel="stylesheet" href="{% static 'css/css-home-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
    <link rel="stylesheet" href="{% static 'css/order_card.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
{% endblock %}

{% block left_panel %}
{% endblock %}

{% block main %}
    <div class="d-flex flex-column">
        <div class="d-flex flex-column" style="margin-top: 48px;">
            <div class="d-flex flex-row justify-content-between">
                <h5>Upcoming orders</h5>
            </div>
            <div class="container">
                <div class="row">
                    {% for order in orders %}
                        {% if order.status == '2' %}
                            <div class="col-sm-4 d-flex flex-row justify-content-between order_cart"
                                 style="overflow-x: hidden;">
                                <div class="d-flex flex-column justify-content-center align-items-start w-100 p-3">
                                    <div class="d-flex flex-row justify-content-between align-items-center w-100">
                                        <p class="order_title">{{ order.restaurant.name }}</p>
                                        <p class="order_ref">#{{ order.id }}</p>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between align-items-center w-100">
                                        <div class="d-flex flex-row gap-3">
                                            <img src="../static/pics/Clock.svg"/>
                                            <div>
                                                <p class="order_state">Estimated arrival</p>
                                                <p class="order_time">35 min</p>
                                            </div>
                                        </div>

                                        <button class="order_btn" data-toggle="modal" data-target="#OrderCard">Track
                                        </button>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between align-items-center w-100"
                                         style="gap: 4px;">
                                        <div class="first_div">
                                            <div class="subfirst_div"></div>
                                        </div>
                                        <div class="second_div">
                                            <div class="subsecond_div"></div>
                                        </div>
                                        <div class="third_div">
                                            <div class="subthird_div"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <div style="margin-top: 48px;">
        <div class="d-flex flex-row justify-content-between">
            <h5>Previous orders</h5>

        </div>
        <div class="container">
            <div class="row mt-4">
                {% for order in orders %}
                    {% if order.status != '1' and order.status != '2' %}
                        <div class="col-sm-4 d-flex flex-row justify-content-between prev_order_cart"
                             style="overflow-x: hidden;">
                            <div class="d-flex flex-column justify-content-center align-items-start w-100 p-3">
                                <div class="d-flex flex-row justify-content-between align-items-center w-100">
                                    <p class="order_title">{{ order.restaurant.name }}</p>
                                    <p class="order_ref">#{{ order.id }}</p>
                                    {% if order.status == '3' %}
                                        <p class="prev_order_state s1">Completed</p>
                                    {% else %}
                                        <p class="prev_order_state s2">Canceled</p>
                                    {% endif %}
                                </div>
                                <div class="d-flex flex-row justify-content-between align-items-center w-100">
                                    <div class="d-flex flex-row gap-3 justify-content-start w-75">
                                        <div class="d-flex flex-row justify-content-between ">
                                            <img class="prev_img" src="../static/pics/Calendar.svg"/>
                                            <p class="prev_order_date "> {{ order.time.date }}</p>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between ">
                                            <img class="prev_img" src="../static/pics/Clock.svg"/>
                                            <p class="prev_order_time  "> {{ order.time.time }}</p>
                                        </div>
                                    </div>


                                </div>
                                <div>
                                    {% for item in order.items.all %}
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="prev_order_num">{{ item.num }} </div>
                                            <p class="prev_order_name"> {{ item.food.name }} </p>
                                            <p class="prev_order_name"> ${{ item.price }} </p>
                                        </div>
                                    {% endfor %}
                                    <br>
                                    <p class="prev_order_name">Total Price: ${{ order.price }}</p>
                                    <p class="prev_order_name">Final Price: ${{ order.final_price }}</p>
                                    <br>
                                </div>
                                <div class="d-flex flex-row justify-content-between ">
                                    <button class="prev_datails_btn" data-toggle="modal" data-target="#PrevOrderCard">
                                        Details
                                    </button>
                                    <button class="prev_help_btn"> Get help</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_of_body %}
    <div class="modal" id="OrderCard">
        <div class="Card">
            <div class="d-flex flex-row justify-content-between w-100" style="position: relative;">
                <img class="map_img" src="../static/pics/Map.svg"/>
                <img width="24" height="24" class="map_close" src="../static/pics/Close.png" data-dismiss="modal">
            </div>
            <div class="d-flex flex-row justify-content-center gap-3 mt-4">
                <div class="d-flex flex-row gap-3">
                    <img src="../static/pics/Clock.svg"/>
                    <div>
                        <p class="order_state">Estimated arrival</p>
                        <p class="order_time">35 min</p>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3">
                    <img src="../static/pics/Clock.svg"/>
                    <div>
                        <p class="order_state">Distance</p>
                        <p class="order_time">3.6 km</p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center w-100" style="gap: 4px;">
                <div class="first_div">
                    <div class="subfirst_div"></div>
                </div>
                <div class="second_div">
                    <div class="subsecond_div"></div>
                </div>
                <div class="third_div">
                    <div class="subthird_div"></div>
                </div>
            </div>
            <div class="p-3">
                <div>
                    <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                        <img src="../static/pics/32px.svg"/>
                        <div>
                            <div>Delivered</div>

                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                        <img src="../static/pics/32px copy.svg"/>
                        <div>
                            <div>On the way</div>

                        </div>
                        <div>
                            12:48 am
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                        <img src="../static/pics/32px copy.svg"/>
                        <div>
                            <div>On the way</div>

                        </div>
                        <div>
                            12:48 am
                        </div>
                    </div>
                    <div class="d-flex flex-row gap-3">
                        <br>
                        <a href="{% url 'home_page_url' %}">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                     fill="none">
                                    <path d="M16 9.14286H9.14286V16H6.85714V9.14286H0V6.85714H6.85714V0H9.14286V6.85714H16V9.14286Z"
                                          fill="#503E9D"/>
                                </svg>
                            </div>
                        </a>
                        <div class="more_items_text">
                            Add more items
                        </div>


                    </div>


                </div>
                <div class="d-flex flex-row gap-3">
                    <button class="chat_btn">
                        <img src="../static/pics/Icon copy 2.svg"/>
                    </button>
                    <button class="card_call">Call to (Edward)</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal" id="PrevOrderCard">
        <div class="PrevCard">
            <div class="d-flex flex-row justify-content-between w-100">
                <div class="card_title">Order details</div>
                <img width="24" height="24" src="../static/pics/Close.png" data-dismiss="modal">
            </div>
            <div class="d-flex flex-row justify-content-between mt-4">
                <div>
                    <div class="deliver_title">Deliver to</div>
                    <div class="deliver_address">300 Post Street San Francisco, CA</div>
                </div>
                <div><img src="../static/pics/arrow copy.png"></div>
            </div>
            <div>
                <div>Pizza Hut</div>
                <div>
                    <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                        <div class="d-flex flex-row gap-3">
                            <div class="prev_num">1</div>
                            <div>Peperoni Pie</div>
                        </div>

                        <div>
                            <div>$23</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                        <div class="d-flex flex-row gap-3">
                            <div class="prev_num">1</div>
                            <div>Peperoni Pie</div>
                        </div>

                        <div>
                            <div>$23</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                        <div class="d-flex flex-row gap-3">
                            <div class="prev_num">1</div>
                            <div>Peperoni Pie</div>
                        </div>

                        <div>
                            <div>$23</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                        <div class="d-flex flex-row gap-3">

                            <div>Subtotal</div>
                        </div>

                        <div>
                            <div>$52</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                        <div class="d-flex flex-row gap-3">

                            <div>Subtotal</div>
                        </div>

                        <div>
                            <div>$52</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                        <div class="d-flex flex-row gap-3">

                            <div>Total</div>
                        </div>

                        <div>
                            <div class="prev_total">$52</div>
                        </div>
                    </div>

                    <div class="d-flex flex-column">
                        <div>Review your order</div>
                        <div class="d-flex flex-row">
                            <img src="../static/pics/Stars.svg"/>
                            <button class="sub_rate">Submit</button>
                        </div>

                    </div>

                </div>

                <div class="d-flex flex-row gap-3">
                    <button class="card_btn">
                        <img src="../static/pics/Icon copy.svg"/>
                    </button>
                    <button class="prev_new_order">Place new order</button>
                </div>
            </div>

        </div>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
    <script>
        // Update stars based on the selected rating
        document.getElementById('ratingForm').addEventListener('change', function (event) {
            const rating = event.target.value;
            const stars = document.querySelectorAll('.rating i');

            stars.forEach((star, index) => {
                if (index < rating) {
                    star.classList.add('text-warning');
                } else {
                    star.classList.remove('text-warning');
                }
            });
        });
    </script>
{% endblock %}