{% extends 'base_html.html' %}
{% load static %}

{% block title %}Orders{% endblock %}
{% block css_js_ref %}
    <link rel="stylesheet" href="{% static 'css/css-home-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
{% endblock %}

{% block left_panel %}
{% endblock %}

{% block main %}
    <div class="d-flex flex-column">
        <div class="d-flex flex-column" style="margin-top: 48px;">
            <div class="d-flex flex-row justify-content-between">
                <h5>Upcoming orders</h5>
            </div>
            <div class="container">
                <div class="row">
                    {% for order in orders %}
                        {% if order.status == '2' %}
                            <div class="col-sm-4 d-flex flex-row justify-content-between order_cart"
                                 style="overflow-x: hidden;">
                                <div class="d-flex flex-column justify-content-center align-items-start w-100 p-3">
                                    <div class="d-flex flex-row justify-content-between align-items-center w-100">
                                        <p class="order_title">{{ order.restaurant.name }}</p>
                                        <p class="order_ref">#{{ order.id }}</p>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between align-items-center w-100">
                                        <div class="d-flex flex-row gap-3">
                                            <img src="../static/pics/Clock.svg"/>
                                            <div>
                                                <p class="order_state">Estimated arrival</p>
                                                <p class="order_time">35 min</p>
                                            </div>
                                        </div>

                                        <button class="order_btn">Track</button>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between align-items-center w-100"
                                         style="gap: 4px;">
                                        <div class="first_div">
                                            <div class="subfirst_div"></div>
                                        </div>
                                        <div class="second_div">
                                            <div class="subsecond_div"></div>
                                        </div>
                                        <div class="third_div">
                                            <div class="subthird_div"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <div style="margin-top: 48px;">
        <div class="d-flex flex-row justify-content-between">
            <h5>Previous orders</h5>

        </div>
        <div class="container">
            <div class="row mt-4">
                {% for order in orders %}
                    {% if order.status != '1' and order.status != '2' %}
                        <div class="col-sm-4 d-flex flex-row justify-content-between prev_order_cart"
                             style="overflow-x: hidden;">
                            <div class="d-flex flex-column justify-content-center align-items-start w-100 p-3">
                                <div class="d-flex flex-row justify-content-between align-items-center w-100">
                                    <p class="order_title">{{ order.restaurant.name }}</p>
                                    <p class="order_ref">#{{ order.id }}</p>
                                    {% if order.status == '3' %}
                                    <p class="prev_order_state s1">Completed</p>
                                    {% else %}
                                    <p class="prev_order_state s2">Canceled</p>
                                    {% endif %}
                                </div>
                                <div class="d-flex flex-row justify-content-between align-items-center w-100">
                                    <div class="d-flex flex-row gap-3 justify-content-start w-75">
                                        <div class="d-flex flex-row justify-content-between ">
                                            <img class="prev_img" src="../static/pics/Calendar.svg"/>
                                            <p class="prev_order_date ">{{ order.time.date }}</p>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between ">
                                            <img class="prev_img" src="../static/pics/Clock.svg"/>
                                            <p class="prev_order_time  ">{{ order.time.time }}</p>
                                        </div>
                                    </div>


                                </div>
                                <div>
                                    {% for item in order.items.all %}
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="prev_order_num">{{ item.num }}</div>
                                            <p class="prev_order_name">{{ item.food.name }}</p>
                                            <p class="prev_order_name">${{ item.price }}</p>
                                        </div>
                                    {% endfor %}
                                <p class="prev_order_name">Total Price: ${{ order.price }}</p>
                                <p class="prev_order_name">Final Price: ${{ order.final_price }}</p>
                                </div>
                                <div class="d-flex flex-row justify-content-between ">
                                    <button class="prev_datails_btn">Details
                                    </button>
                                    <button class="prev_help_btn"> Get help</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_of_body %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}