{% extends 'base_html.html' %}
{% load static %}
{% block title %}Restaurant{% endblock %}

{% block css_js_ref %}
    <link rel="stylesheet" href="{% static 'css/css-home-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/resturant.css' %}">
{% endblock %}

{% block main %}
        <div class="d-flex flex-column">
            <div class="rest_imgs">
                <img class="rest_backimg" src="{{ rest.restaurant_header_pic.url }}" />
                <button class="like_btn">
                    <a href="{% url 'fav_add_url' 'restaurant' rest.id %}"><img class="rest_like" src="../../static/pics/Heart.svg"></a>
                </button>
                <img class="rest_pic" src="{{ rest.restaurant_icon.url }}" />
            </div>
            <div class="d-flex flex-column justify-content-start align-items-start w-100" style="margin-top: 80px;">
                <div class="d-flex flex-row align-items-center justify-content-between w-100">
                    <p class="rest_topic">{{ rest.name }}</p>
                    <div class="d-flex flex-row align-items-center justify-content-between gap-3">
                        {% if rest.free_delivery %}
                            <p class="free-delivery pt-1">Free delivery</p>
                        {% else %}
                            <p class="free-delivery pt-1">$ 5.0</p>
                        {% endif %}
                        <p class="free-delivery s2 pt-1">Buy 2 get 1 free</p>
                        <p class="free-delivery s3 pt-1">Opens at 12 PM</p>
                    </div>
                </div>
                <div class="rest_desc">
                    {{ rest.description }}
                </div>
                <div class="d-flex flex-row align-items-center justify-content-between ms-3">
                    <div class="d-flex flex-row grid-img"><img src="../../static/pics/Star.png"><p class="bx-font">{{ rest.rating }} ({{ rest.num_rating }})</p></div>
                    <div class="d-flex flex-row grid-img margin-grid"><img src="../../static/pics/Silverware.png"><p class="bx-font ms-1">{{ rest.categ }}</p></div>
                    <div class="d-flex flex-row grid-img margin-grid"><img src="../../static/pics/Deliver.png"><p class="bx-font ms-1">15 - 25 min</p></div>
                    </div>
            </div>
        <div  style="margin-top: 48px;">
            <div  class="d-flex flex-row justify-content-between">
                <button id="pop" class="choice pop">Popular (8)</button>
                <button id="burger"  class="choice burger">Burgers (12)</button>
                <button id="fries"  class="choice fries">Fries (4)</button>
                <button id="drinks"  class="choice drinks">Drinks (29)</button>
            </div>
            <div class="container">
                <div class="row pop_list">
                    <div class="col-4">
                        {% for food in foods %}
                            <img src="{{ food.food_pic.url }}">
                            <div class="d-flex flex-row align-items-center justify-content-between ms-3">
                            <div class="d-flex flex-row grid-img"><img src="../../static/pics/Star.png"><p class="bx-font">
                                {{ food.rating }} ({{ food.num_rating }})</p></div>
                            <div class="d-flex flex-row grid-img margin-grid"><img src="../../static/pics/Silverware.png"><p class="bx-font ms-1">{{ food.category }}</p></div>
                            <div class="d-flex flex-row grid-img margin-grid"><img src="../../static/pics/Deliver.png"><p class="bx-font ms-1">15 - 25 min</p></div>
                            </div>
                        <div  class="d-flex flex-row align-items-center justify-content-between mt-3"><p style="font-size: 16px; font-weight: 700;">{{ food.name }}</p><p class="free-delivery text-center pt-1">$1.99 Delivery</p></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row burger_list offDive">
                    lbkjlbj
                </div>
            </div>
         
           
        </div>
    </div>
{% endblock %}
{% block bottom_of_body %}
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/resturant.js' %}"></script>
{% endblock %}