<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settings</title>
    <link rel="stylesheet" href="../../statics/css/home-style.css">
    <link rel="stylesheet" href="../../statics/css/css-home-2.css">
    <link rel="stylesheet" href="../../statics/css/setting.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="d-flex flex-row">
        <div class="d-flex flex-column justify-content-between nibble-container">
            <div class="d-flex flex-column justify-content-start ">
                <div class="d-flex flex-row ms-4 mt-3 align-items-center ">
                    <img src="../../statics/pics/Icon copy.png" alt="burger">
                    <p class="ms-3 mt-3">
                        Nibble
                    </p>
                </div>
                <div class="ms-4">
                    <div id="my_btn" class="mt-4 left-menu">
                        <img src="../../statics/pics/Home.png">
                        <a class="ms-3 link-adjustment" href="#home">Home</a>
                    </div>
                    <div id="my_btn2" class="mt-4 left-menu">
                        <img src="../../statics/pics/Feed copy.png">
                        <a class="ms-3 link-adjustment" href="#about">Explore</a>
                    </div>
                    <div id="my_btn3" class="mt-4 left-menu">
                        <img src="../../statics/pics/save copy.png">
                        <a class="ms-3 link-adjustment" href="#services">Favourites</a>
                    </div>
                    <div id="my_btn4" class="mt-4 left-menu" onclick="goTo_orders();">
                        <img src="../../statics/pics/Document copy.png">
                        <a class="ms-3 link-adjustment" href="#contact">orders</a>
                    </div>
                    <div id="my_btn5" class="mt-4 left-menu">
                        <img src="../../statics/pics/Settings copy.png">
                        <a class="ms-3 link-adjustment" href="#contact">settings</a>
                    </div>
                    
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center clarke-div">
                <img class="mark-clarke" src="../../statics/pics/Image copy.png">
                <p>
                    <b>Mark Clarke</b>
                    <br>
                    markclarke@gmail.com
                </p>
                <img class="options" src="../../statics/pics/Options copy.png">
            </div>
        </div>
    <div class="class=d-flex flex-column justify-content-center align-items-center  rightmost-div" style="padding: 32px;">
        <div class="col-lg-6 d-none d-lg-block" style="width: 100%;">
        <div class="d-flex flex-row navbar align-items-center justify-content-between ">
            <div class="d-flex flex-row">
                <div class="d-flex flex-row align-items-center nav-margin"><img class="img-size" src="../../statics/pics/Location copy.png"><p class="fs-one ms-3 m-0 text-center text-nowrap">San Francisco, California</p><img class="arrow-size ms-3" src="../../statics/pics/Options copy.png"> </div>
                <div class="d-flex flex-row align-items-center nav-margin"><img class="img-size" src="../../statics/pics/Shopping-bag copy.png"> <p class="fs-one m-0 ms-3 text-center text-nowrap">Pick up</p><img class="arrow-size ms-3" src="../../statics/pics/Options copy.png"> </div>
                <div class="d-flex flex-row align-items-center nav-margin"><img class="img-size" src="../../statics/pics/Icon copy 2.png"><p p class="fs-one ms-3 m-0 text-center text-nowrap">best deals</p><img class="arrow-size ms-3 " src="../../statics/pics/Options copy.png"> </div>
               
            </div>
            <div class="d-flex search-margin">
                <div class="relative-search">
                    <img class="search-icon" src="../../statics/pics/Search.png">
                    <input type="search" class="search-container nav-margin" id="search" name="search" placeholder="search for anything...">
                </div>
            </div>
            <div class=" d-flex justify-content-between "><img src="../../statics/pics/48px copy.png"><img class="cart-container" src="../../statics/pics/cart copy.png"> </div>
    
        </div>
        </div>
        <div class="col-12 d-sm-block d-lg-none">
            <div class=" d-flex justify-content-between ">
                <div>
                </div>
                <div><img src="../../statics/pics/48px copy.png"><img class="cart-container" src="../../statics/pics/cart copy.png"></div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <h4>Settings</h4>
            <div class="d-flex flex-column">
                <h5 class="setting_type">General</h5>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column gap-4" >
                    <div class="d-flex flex-row gap-3 align-items-center justify-content-between"  data-toggle="modal" data-target="#myModal">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <img src="../../statics/pics/Profile.svg" />
                            <a>Personal information</a>
                        </div>
                        <img src="../../statics/pics/Chevron-right.png" />
                        </div>
                        <div class="setting_col_line"></div>
                    </div>
                </div>
                <div class="d-flex flex-column gap-4" >
                    <div class="d-flex flex-row gap-3 align-items-center justify-content-between"  data-toggle="modal" data-target="#myModalAddress">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <img src="../../statics/pics/Bookmark.svg" />
                            <a>Saved addresses</a>
                        </div>
                        <img src="../../statics/pics/Chevron-right.png" />
                        </div>
                        <div class="setting_col_line"></div>
                    </div>
            </div>

        
        </div>
    </div>
    </div>  
    </div> 
    <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content p-4 myModal">
            <div class="d-flex flex-row justify-content-between w-100">
                <div class="title_modal">Personal information</div>
                <img width="24" height="24" src="../../statics/pics/Close.png"  data-dismiss="modal"></img>
            </div>
              
            <div>
                <form>
                    <div class="mb-3" style="display: none;">
                        <label for="imageUpload" class="form-label">Choose an image:</label>
                        <input type="file" class="form-control visually-hidden" id="imageUpload" accept="image/*">
                    </div>
                    <div class="title_img">Profile image</div>
                    <div class="mb-3 d-flex flex-row justify-content-between align-items-center">
                        <div>
                            <img id="previewImage" class="mt-2 img-fluid  img_show" alt="Preview Image">
                        </div>
                        <div>
                            <button type="button" class="img_btn" onclick="document.getElementById('imageUpload').click();">Upload</button>
                            <button type="button" class="img_btn2" onclick="deleteImage()">Delete</button>
                        </div>
                       
                    </div>
                    <div class="title_field">Profile details</div>
                    <div>
                        <div class="d-flex flex-row justify-content-between ">
                            <img src="../../statics/pics/20px-icon-inside.svg" />
                            <div class="d-flex flex-column">
                               <div>
                                <label>Full name</label>
                               </div> 
                                <input />
                            </div>
                           
                        </div>
                        <div class="input_line"></div>
                    </div>
                    <button class="update_btn">Update profile</button>
                </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="myModalAddress">
        <div class="modal-dialog">
          <div class="modal-content p-4 myModal">
            <div class="d-flex flex-row justify-content-between w-100">
                <div class="title_modal">Saved addresses</div>
                <img width="24" height="24" src="../../statics/pics/Close.png"  data-dismiss="modal"></img>
            </div>
              
            <div>
                <div class="d-flex flex-row justify-content-center gap-2">
                    <button type="button" class="img_btn" >Home (2)</button>
                <button type="button" class="img_btn2" >Work (3)</button>
                </div>
                
                <form>
                    <div class="title_field">Profile details</div>
                    <div>
                        <div class="d-flex flex-row justify-content-between ">
                            <img src="../../statics/pics/20px-icon-inside copy.svg" />
                            <div class="d-flex flex-column">
                               <div>
                                <label>address</label>
                               </div> 
                                <input />
                                
                            </div>
                            <img width="24" height="24" src="../../statics/pics/Chevron-right.png" />
                           
                        </div>
                        <div class="input_line"></div>
                    </div>
                    <button class="update_btn">Save changes</button>
                </form>
            </div>
          </div>
        </div>
      </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/js/home.js"></script>
<script>
    document.getElementById('imageUpload').addEventListener('change', function () {
        const fileInput = this;
        const previewImage = document.getElementById('previewImage');

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                previewImage.src = e.target.result;
                previewImage.classList.remove('d-none');
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    });

    function deleteImage() {
        const imageUpload = document.getElementById('imageUpload');
        const previewImage = document.getElementById('previewImage');

        // Reset file input and hide preview
        imageUpload.value = '';
        previewImage.src = '';
        previewImage.classList.add('d-none');
    }
</script>
</html>