{% extends 'base_html.html' %}
{% load static %}
{% block title %}settings{% endblock %}

{% block css_js_ref %}
    <link rel="stylesheet" href="{% static 'css/css-home-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/setting.css' %}">
{% endblock %}

{% block main %}
        <div class="d-flex flex-column gap-4">
            <h4>Settings</h4>
            <div class="d-flex flex-column">
                <h5 class="setting_type">General</h5>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column gap-4" >
                    <div class="d-flex flex-row gap-3 align-items-center justify-content-between"  data-toggle="modal" data-target="#myModal">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <img src="../static/pics/Profile.svg" />
                            <a>Personal information</a>
                        </div>
                        <img src="../static/pics/Chevron-right.png" />
                        </div>
                        <div class="setting_col_line"></div>
                    </div>
                </div>
                <div class="d-flex flex-column gap-4" >
                    <div class="d-flex flex-row gap-3 align-items-center justify-content-between"  data-toggle="modal" data-target="#myModalAddress">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <img src="../static/pics/Bookmark.svg" />
                            <a>Saved addresses</a>
                        </div>
                        <img src="../static/pics/Chevron-right.png" />
                        </div>
                        <div class="setting_col_line"></div>
                    </div>
                    <div class="d-flex flex-column gap-4" >
                        <div class="d-flex flex-row gap-3 align-items-center justify-content-between"  >
                            <div class="d-flex flex-row gap-3 align-items-center">
                                <img src="../static/pics/Mail.svg" />
                                <a>Marketing preferences</a>
                            </div>
                            <img src="../static/pics/Chevron-right.png" />
                            </div>
                            <div class="setting_col_line"></div>
                        </div>
            </div>
            <div class="d-flex flex-column">
                <h5 class="setting_type">Payments</h5>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column gap-4" >
                    <div class="d-flex flex-row gap-3 align-items-center justify-content-between"  >
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <img src="../static/pics/Wallet.svg" />
                            <a>Payment methods</a>
                        </div>
                        <img src="../static/pics/Chevron-right.png" />
                        </div>
                        <div class="setting_col_line"></div>
                    </div>
                </div>
                <div class="d-flex flex-column gap-4" >
                    <div class="d-flex flex-row gap-3 align-items-center justify-content-between"  data-toggle="modal" data-target="#myModalAddress">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <img src="../static/pics/card.svg" />
                            <a>My cards</a>
                        </div>
                        <img src="../static/pics/Chevron-right.png" />
                        </div>
                        <div class="setting_col_line"></div>
                    </div>
                   
            </div>
            <div class="d-flex flex-column">
                <h5 class="setting_type">Other</h5>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column gap-4" >
                    <div class="d-flex flex-row gap-3 align-items-center justify-content-between"  >
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <img src="../static/pics/support.svg" />
                            <a>Support</a>
                        </div>
                        <img src="../static/pics/Chevron-right.png" />
                        </div>
                        <div class="setting_col_line"></div>
                    </div>
                </div>
                <div class="d-flex flex-column gap-4" >
                    <div class="d-flex flex-row gap-3 align-items-center justify-content-between"  data-toggle="modal" data-target="#myModalAddress">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <img src="../static/pics/Split-order.svg" />
                            <a>Invite a friend</a>
                        </div>
                        <img src="../static/pics/Chevron-right.png" />
                    </div>
                    <div class="setting_col_line"></div>
                </div>
                <div class="d-flex flex-column gap-4" >
                    <div class="d-flex flex-row gap-3 align-items-center justify-content-between"  data-toggle="modal" data-target="#myModalAddress">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <img src="../static/pics/Money copy.png" />
                            <a>discount</a>
                        </div>
                        <img src="../static/pics/Chevron-right.png" />
                    </div>
                    <div class="setting_col_line"></div>
                </div>
            </div>
        </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content p-4 myModal">
            <div class="d-flex flex-row justify-content-between w-100">
                <div class="title_modal">Personal information</div>
                <img width="24" height="24" src="../static/pics/Close.png"  data-dismiss="modal">
            </div>
              
            <div>
                <form method="POST" enctype="multipart/form-data" action="{% url 'account_info_update_url' %}">
                    {% csrf_token %}
                    <div class="mb-3" style="display: none;">
                        {{ user_form.profile_pic.label_tag }}
                        {{ user_form.profile_pic }}
                    </div>
                    <div class="title_img">Profile image</div>
                    <div class="mb-3 d-flex flex-row justify-content-start align-items-center gap-4">
                        <div>
                            <img src="{{ user.profile_pic.url }}" id="previewImage" class="mt-2 img-fluid  img_show" alt="Preview Image">
                        </div>
                        <div class="d-flex flex-row gap-2">
                            <button type="button" class="img_btn" onclick="document.getElementById('id_profile_pic').click();">Upload</button>
                            <button type="button" class="img_btn2" onclick="deleteImage()">Delete</button>
                        </div>
                       
                    </div>
                    <div class="title_field">Profile details</div>
                    <div>
                        <div class="d-flex flex-row justify-content-start gap-4 ">
                            <img src="../static/pics/20px-icon-inside.svg" />
                            <div class="d-flex flex-column">
                               <div>
                                {{ user_form.name.label_tag }}
                               </div> 
                                {{ user_form.name }}
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex flex-row justify-content-start gap-4 ">
                            <img src="../static/pics/20px-icon-inside.png" style=" height: 48px; width: 48px;">
                            <div class="d-flex flex-column">
                               <div>
                                <label>Email address</label>
                               </div> 
                                <input class="form-control" type="email" value="{{ user.email }}" readonly>
                            </div>
                            <hr>
                        </div>
                        <hr>
                        <div class="d-flex flex-row justify-content-start gap-4 ">
                            <img src="../static/pics/20px-icon-inside copy 2.svg" style=" height: 48px; width: 48px;" />
                            <div class="d-flex flex-column">
                               <div>
                                {{ user_form.phone_number.label_tag }}
                               </div> 
                                {{ user_form.phone_number }}
                            </div>
                            <hr>
                        </div>
                        
                        <div class="input_line"></div>
                    </div>
                    <input type="submit" class="update_btn" value="Update Profile">
                </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal modal-dimensions" id="myModalAddress">
        <div class="modal-dialog">
          <div class="modal-content p-4 myModal">
            <div class="d-flex flex-row justify-content-between w-100">
                <div class="title_modal"><h2>Saved addresses</h2></div>
                <img width="24" height="24" src="../static/pics/Close.png"  data-dismiss="modal">
            </div>
              <br>
            <div>
                <div class="d-flex flex-row justify-content-start gap-2">
                    <button type="button" class="img_btn"  style="height:40px ; width:160px ; " >Home (2)</button>
                    <button type="button" class="img_btn2" style="height:40px ; width:160px ; ">Work (3)</button>
                </div>
                
                <form method="POST" action="{% url 'saved_address_add_url' %}">
                    {% csrf_token %}
                    <div class="title_field">Address List:</div>
                    <div>
                        {% for addr in user.fav_addr.all %}
                            <div class="d-flex flex-row justify-content-between ">
                            <img src="../static/pics/20px-icon-inside copy.svg">
                            <div class="d-flex flex-column">
                                {{ addr.address }}
                            </div>
                            <a href="{% url 'saved_address_delete_url' addr.id %}"><img width="24" height="24" src="../static/pics/Chevron-right.png"></a>
                            <br>
                        {% endfor %}
                        <br>
                        <div class="d-flex flex-row justify-content-between ">
                            <img src="../static/pics/20px-icon-inside copy.svg">
                            <div class="d-flex flex-column">
                                {{ address_form }}
                            </div>
                        </div>
                        <div class="input_line"></div>
                    </div>
                    <input type="submit" class="update_btn" value="Save changes">
                </form>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
{% block bottom_of_body %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/js/home.js"></script>
<script>
    document.getElementById('id_profile_pic').addEventListener('change', function () {
        const fileInput = this;
        const previewImage = document.getElementById('previewImage');

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                previewImage.src = e.target.result;
                previewImage.classList.remove('d-none');
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    });

    function deleteImage() {
        const check_box = document.getElementById('profile_pic-clear_id');
        const previewImage = document.getElementById('previewImage');

        // Reset file input and hide preview
        check_box.checked = true;
        previewImage.src = '';
        previewImage.classList.add('d-none');
    }
</script>
{% endblock %}